.moon-cal {
    * {
        color: whitesmoke;
    }

    .moon-cal-header {
        * {
            background-color: black;
        }

        position: sticky;
        top: $headerHeight;
        background-color: black;
    }

    .weekdays {
        width: 100%;
        display: flex;

        .day-title {
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.205);
            text-align: center;
            background-color: black;
        }
    }

    .moon-cal-days-grid {
        color: whitesmoke;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;

        .moon-day-preview {
            font-size: .8em;
            padding: .3em;
            text-align: center;
            border-radius: 2px;

            .moon-icon {
                margin: auto;
                margin-bottom: .5em;
                margin-top: .5em;
                background-color: black;
                width: 2em;
                height: 2em;
                border-radius: 50%;
            }
        }

        .times {
            // .first-horiz-cross {
            //     text-align: left;
            // }
            // .second-horize-cross {
            //     text-align: right;
            // }
        }

    }


    .day-details {
        top: $headerHeight;
        display: flex;
        overflow: scroll;
        position: fixed;
        margin: auto;
        color: whitesmoke;
        background-color: black;
        width: 100vw;
        
        .moon-day-details {
            height: 100vh;
            font-size: .8em;
            padding: .3em;
            text-align: center;
            border: 1px solid black;

            .moon-icon {
                margin: auto;
                margin-bottom: .5em;
                margin-top: .5em;
                background-color: black;
                width: 2em;
                height: 2em;
                border-radius: 50%;
            }
        }

        .times {
            // .first-horiz-cross {
            //     text-align: left;
            // }
            // .second-horize-cross {
            //     text-align: right;
            // }
        }

    }
    

}

